{{set . "title" "Home"}}
{{template "header.html" .}}

    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Google Maps
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">
                        <i class="fa fa-fw ti-home"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="#"> Maps</a>
                </li>
                <li class="active">
                    Google Maps
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Basic charts strats here-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="ti-map-alt"></i> Location
                            </h4>
                            <span class="pull-right">
                                <i class="fa fa-fw ti-angle-up clickable"></i>
                                    <i class="fa fa-fw ti-close removepanel clickable"></i>
                                </span>
                        </div>
                        <div class="panel-body">
                            <div id="gmapid" class="gmap" style="max-height: 600px; height:600px"></div>
                        </div>
                    </div>
                </div>
            <!-- row -->
        </section>
    </aside>
    <script type='text/javascript'>
      var map = L.map('gmapid').setView([51.505, -0.09], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    </script>
{{template "footer.html" .}}
